.section {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.bottom {
  background: white;
  padding: 32px;
  box-shadow: -24px 0px 80px rgba(49, 79, 124, 0.02);
  border-radius: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #3f4765;
}
