.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  background: linear-gradient(124.61deg, #1cac70 15.07%, #eddc46 128.89%);
  box-shadow: 0px 12px 20px rgba(141, 199, 90, 0.16);
  border-radius: 12px;
  width: 100%;
  max-width: 300px;
  height: 46px;
  border: none;
  cursor: pointer;

  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  opacity: 0.5;
}
