.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.block {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 300px;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 32px;

  color: #3f4765;
}
