.list {
  background: white;
  padding: 20px;
  box-shadow: -24px 0px 80px rgba(49, 79, 124, 0.02);
  border-radius: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #3f4765;

  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.expense {
  color: #f85842;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content;
  grid-auto-flow: dense;

  border-bottom: 2px solid #eceff9;

  padding: 12px;
}

.item:first-child {
  border-top: 2px solid #eceff9;
}

.item button {
  height: 30px;

  border: #f85842 1px solid;
  background: white;
  color: #3f4765;
  box-shadow: none;
}

.listWrapper {
  overflow-y: auto;

  max-height: 300px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;

  color: #3f4765;
  max-height: calc(100vh - 570px);
}

.empty {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;

  color: #3f4765;
}

.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
  padding-right: 12px;

  opacity: 0.6;
}

.item span {
  padding: 0px 4px;
}

@media (max-width: 768px) {
  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid #eceff9;

    padding: 12px;
  }
}

@media (max-width: 480px) {
  .total {
    flex-direction: column;
    gap: 24px;
  }

  .list {
    font-size: 10px;
    padding: 12px;
  }

  .item {
    font-size: 14px;
  }
}
