.form {
  background: white;
  padding: 28px;
  box-shadow: -24px 0px 80px rgba(49, 79, 124, 0.02);
  border-radius: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #3f4765;
  overflow: visible;

  display: flex;
  justify-content: space-between;
}

.list {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
}

.form h2 {
  font-size: 28px;
  margin-bottom: 24px;
}

.form p {
  font-size: 18px;
  margin-bottom: 8px;
}

.category {
  opacity: 0.6;
}

.graph {
  width: 250px;
}

.dates {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.dates p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total {
  color: white;
  opacity: 0.7;
  width: fit-content;
  font-size: 20px;
  margin-bottom: 12px;
  background: #3f4765;
  padding: 8px 12px;
  border-radius: 12px;
}

@media (max-width: 1000px) {
  .graph {
    width: 200px;
    height: 300px;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .dates {
    flex-direction: column;
  }

  .list {
    grid-template-columns: 1fr 1fr;
  }
}
