.main {
  display: flex;
  height: calc(100% - 96px);
}

.block {
  background: #f4f6f8;
  width: 100%;
  padding: 32px;
  width: 100%;
}

@media (max-width: 768px) {
  .side {
    position: absolute;
    background-color: white;
    z-index: 10;

    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }

  .side.isActive {
    transform: translateX(0);
  }
}
