.main {
  display: flex;
  gap: 100px;

  font-size: 28px;
  line-height: 140%;
}

.list {
  list-style: none;
}

.point {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 40px;
}

.number {
  color: #1cac70;

  font-weight: 700;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .title {
    font-size: 36px;
  }
}
