.form {
  background: white;
  width: 100%;
  padding: 18px;
  max-width: 630px;
  box-shadow: -24px 0px 80px rgba(49, 79, 124, 0.02);
  border-radius: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #3f4765;
  overflow: visible;

  display: flex;
  justify-content: space-between;
}

.list {
  overflow-y: auto;
}

.form h2 {
  font-size: 28px;
  margin-bottom: 12px;
}

.form p {
  font-size: 18px;
  margin-bottom: 8px;
}
