.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;

  color: #3f4765;
  margin: 0 0 20px 0;
}

.form {
  background: white;
  padding: 32px;
  box-shadow: -24px 0px 80px rgba(49, 79, 124, 0.02);
  border-radius: 12px;
  height: 100%;
}

.inputs {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .inputs {
    flex-direction: column;
  }
}
